<h1>Courses</h1>
{{#if courses.length}}
<div class="wrap">
  {{#each courses}}
  <div class="row">
      <div class="">
        <div class="card">
          <div class="card-image1">
            {{#if img}}
              <img src="{{img}}">
            {{else}}
              <img src="/media/placeholder.png" alt="">
            {{/if}}
          </div>
          <div class="card-content">
              <span class="card-title">{{title}}</span>
            <p class="price">{{price}}</p>
          </div>
          <div class="card-action course-bottom">
            <a href="/courses/{{_id}}" target="_blank">Open</a>
            <a href="/courses/{{_id}}/edit?allow=true">Edit</a>
            <form action="/card/add" method="POST">
              <input type="hidden" name="id" value="{{_id}}">
              <button  type="submit" class="btn btn-primary">Add to card</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
</div>
{{else}}
<p>Dont have courses</p>
{{/if}}